* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color:white;
}

.menu, .container{
    width: 900px;
    margin:  0 auto;
}

nav {
    background-color: black;
}

.nav-container {
    display: flex;
}

nav img{
    margin-top: 5px;
    padding: 5px;
    height: 80px;
    width:193px ;
}

ul {
    display: inline-flex;
    margin-top: 5em;
}

.menu li{
    display: inline;
}

.menu a{
    padding: 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: cornflowerblue;
}

ul li.current a{
    color: cornflowerblue;
}

.container {
    background-color: white;
    height: 50vh;
}

h1{
    margin: 1em;
}


